.thumbnail-box {
	text-align: center;
	cursor: pointer;
	transition: all .5s ease;
	border-radius: 5px;

	&.active {
		.name {
			color: brown;
		}
	}

	.img-box {
		height: 350px;
		background-size: cover;
		background-position: center;
		position: relative;
	}

	.name {
		margin-top: 20px;
		font-weight: bold;
	}

	.desc {
		width: 120%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 10px;
		background: rgba($color-1, .9);
		border-radius: 5px;
		color: $color-2;
		font-size: .8em;
		padding: 10px;
		opacity: 0;
		visibility: hidden;
		transition: all .5s ease;
		z-index: 1;
		box-shadow: 0 0 10px rgba($color-2, .5);
	}

	&:hover {
		.desc {
			opacity: 1;
			visibility: visible;
		}
	}
}